* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  display: flex;
  position: relative;
  background-color: #14110F;
  width: 100vw;
  height: 937px;
  justify-content: center;
  align-items: center;
}
#page #container {
  display: flex;
  max-width: 1500px;
  width: 1500px;
  height: 800px;
  background-color: #14110F;
  align-items: center;
  justify-content: space-between;
}
#page #container .fichas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 70%;
  background-color: #14110F;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2) inset, -5px -5px 5px rgba(255, 255, 255, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 5px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
#page #container .fichas .card {
  width: 90%;
  height: 90%;
  background-color: #D9C5B2;
  border-radius: 15px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}
#page #container .fichas .card:hover {
  margin-bottom: 20%;
  box-shadow: 0 90px 70px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

/*# sourceMappingURL=style.css.map */
