$negroAhumado: #14110F;
$jet: #34312D;
$webGris: #7E7F83;
$almendra: #D9C5B2;
$culto: #F3F3F4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    
#page{
    display: flex;
    position: relative;
    background-color: $negroAhumado;
    width: 100vw;
    height: 937px;
    justify-content: center;
    align-items: center;
    #container{
        //width: 1500px;
        display: flex;
        max-width: 1500px;
        width: 1500px;
        height: 800px;
        background-color: $negroAhumado;
        align-items: center;
        justify-content: space-between;
        .fichas{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 70%;
            background-color: $negroAhumado;
            box-shadow: 5px 5px 5px rgba(0, 0, 0,0.2) inset,
                        -5px -5px 5px rgba(255,255,255,0.1) inset,
                        5px 5px 5px rgba(0,0,0,0.3),
                        -5px -5px 5px rgba(255,255,255,0.1);
            border-radius: 15px;
            .card{
                width: 90%;
                height: 90%;
                background-color: $almendra;
                border-radius: 15px;
                box-shadow: 0 40px 50px rgba(0,0,0,0.5);
                transition: 0.5s ease;
                &:hover{
                    margin-bottom: 20%;
                    box-shadow: 0 90px 70px rgba(0,0,0,0.5);
                    transition: 0.5s ease;
                }
            }
        }
    }
}

